/**
 * service.css
 *
 * Computer Science 50
 * Problem Set 8
 *
 * Global stylesheet.
 */
       
html
{
    height: 100%;
}

body
{
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

#announcements
{
    font-size: smaller;
    margin: 5px;
    text-align: center;
}

#chart
{
    background-color: #ffffff;
    bottom: 320px;
    border-bottom: 1px #cccccc solid;
    border-top: 1px #cccccc solid;
    box-shadow: inset 0 10px 10px -10px #999999, inset 0 -10px 10px -10px #999999;
    font-size: smaller;
    height: 200px;
    overflow-y: scroll;
    padding-top: 10px;
    position: absolute;
    width: 320px;
}

#controls
{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

#earth
{
    border-right: 1px #cccccc solid;
    height: 100%;
    margin-right: 320px;
}

#instructions
{
    font-size: smaller;
    text-align: center;
}

#left
{
    float: right; 
    height: 100%;
    width: 100%
}

#logo
{
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

#map
{
    bottom: 0;
    height: 320px;
    position: absolute;
    width: 320px;
}

#right
{
    float: right;
    height: 100%;
    margin-right: -100%;
    width: 320px;
}

.chart_adams { background-color:#06F; }
.chart_cabot { background-color:#96C; }
.chart_currier { background-color:#0F0; }
.chart_dunster { background-color:#C30; }
.chart_eliot { background-color:#FF0; }
.chart_kirkland { background-color:#888 }
.chart_leverett { background-color:#60F; }
.chart_lowell { background-color:#C96; }
.chart_mather {	background-color:#F00; }
.chart_pforzheimer { background-color:#0FF; }
.chart_quincy {	background-color:#999; }
.chart_winthrop { background-color:#F6C; }
